<!DOCTYPE html>
<html>
<head>
    <title>Simple Home Application</title>
    <link rel=¨stylesheet¨ type=¨text/css¨ href=¨~/Content/MainPage.css¨>
</head>
<body>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="~/Scripts/MainPage.js"></script>
    @*Pen information - scattering hexagons Design by K-T (https://codepen.io/K-T/pen/OJLxzVq)*@
    <div id="jsi-hex-container" class="container">

    </div>
</body>
</html>