<!DOCTYPE html>
<html>
<head>
    <title>Simple Home Application</title>
    <link rel=¨stylesheet¨ type=¨text/css¨ href=¨MainPage.css¨>
</head>
<body>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="MainPage.js"></script>
    <div id="jsi-hex-container" class="container"></div>
</body>
</html>
